/* Your custom CSS here */
.block-editor-block-list__layout .wp-block-group.stack3d{
    border: 1px solid red !important;     
    height: 100%;        
}
.block-editor-block-list__layout .wp-block-group.stack3d > *:not(:first-child){
    top: 0;
    position: absolute;
    width: 100%;
}


.block-editor-block-list__layout .wp-block-group.stack3d {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    bottom: -40px;
}

.block-editor-block-list__layout .wp-block-group.stack3d .axil-icon-box {
    pointer-events: none;
}

.block-editor-block-list__layout .wp-block-group.stack3d .axil-icon-box > * {
    pointer-events: all;
}

.block-editor-block-list__layout .wp-block-group.stack3d .axil-icon-box > .tilt-box {
    min-width: 8rem;
}

.block-editor-block-list__layout .wp-block-group.stack3d .axil-icon-box + .axil-icon-box {
    top: 40%;
}

.block-editor-block-list__layout .wp-block-group.stack3d .axil-icon-box + .axil-icon-box + .axil-icon-box {
    top: 70%;
}